html {
  min-height: 100%;
  background-image: url(../images/background-sky-grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration: none;
  color: white;
}

p, h1 {
  color: #555;;
}

.border-box {
  border: solid white 3px;
  width: 90%;
  height: 470px;
  margin: 5%;
  background: rgba(255, 255, 255, 0.3)
}

.intro-text {
  margin: none;
  padding: 140px 0px 0px 60px;
  text-align: left;
  line-height: 1.3em;
}

#next-page-button {
  color: white;
  background-color: rgb(116, 184, 229);
  padding: 10px;
  border: none;
  border-radius: 5%;

}

  /* Second page */

#card-carrot-1, #card-carrot-2, #card-carrot-3, #card-carrot-4, #card-carrot-5, #card-carrot-6, #card-carrot-7, #card-ollie {
  height: 200px;
  width: 150px;
  background-color: rgb(222, 235, 247);
  margin: 30px;
  box-shadow: 0px 2px 12px 0px #888888;
  border-radius: 4%;
  text-align:center;
}

#card-ollie {
background-color:rgb(222, 235, 220);
}

#card-container {
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-face-ollie {
  max-width: 120px;
  text-align: center;
  margin: 30px 0px 0px 0px;
  filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.3));
}

.card-face-carrot {
  max-height: 80px;
  text-align: center;
  margin: 55px 0px 0px 0px;
  transform:rotate(76deg);
  filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.3));
}

.pg-2-bottom-nav {
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-content: center; 
  
}

#pg-2-play-button, #pg-2-pause-button {
  width: 70px;
  color: white;
  background-color: rgb(116, 184, 229);
  padding: 10px 10px;
  border: none;
  border-radius: 7%;
  text-transform: uppercase;
  text-align: center;
}